<div class="container">
   <div class="row" >
       <h1>{{title}}</h1>
       <nav class="navbar navbar-expand navbar-dark bg-primary">
           <div class="container-fluid">
               <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="navbar-nav">
                       <li class="nav-item">
                           <a aria-current="page" class="nav-link" routerLink="/sensors" routerLinkActive="active">Sensors</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" routerLink="/relays" routerLinkActive="active">Relays</a>
                       </li>
                   </ul>
               </div>
           </div>
       </nav>
       <br>
       <router-outlet></router-outlet>
       <br>
       <hr>
       <app-messages></app-messages>

       <mat-slide-toggle>Toggle me!</mat-slide-toggle>
    </div> 
</div>

