<h2>Photovoltaics</h2>
<h4>
    <div *ngIf="photovoltaics && photovoltaics.lastUpdate"
        [class]="commonService.getLostCommunicationClass(photovoltaics.lastUpdate)">
        {{photovoltaics.lastUpdate | date:'HH:mm:ss dd.MM.yyyy'}}
    </div>
</h4>
<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <h4>Grid</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-4 text-end">Value</th>
                    <th class="col-8 text-start">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of gridDictionary">
                    <td class="text-end">
                        {{item.value | safeFormat}}
                    </td>
                    <td class="text-start">
                        {{item.key}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <h4>Batery</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-8 text-end">Value</th>
                    <th class="col-4 text-start">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of batteryDictionary">
                    <td class="text-end">
                        {{item.value | safeFormat}}
                    </td>
                    <td class="text-start">
                        {{item.key}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <h4>PV Power</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-8 text-end">Value</th>
                    <th class="col-4 text-start">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pvDictionary">
                    <td class="text-end">
                        {{item.value | safeFormat}}
                    </td>
                    <td class="text-start">
                        {{item.key}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <h4>EV</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-4 text-end">Value</th>
                    <th class="col-8 text-start">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of evDictionary">
                    <td class="text-end">
                        {{item.value | safeFormat}}
                    </td>
                    <td class="text-start">
                        {{item.key}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>