<h2>Sensors</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name">Name</th>
        <th scope="col" sortable="value">Temperature</th>
        <th scope="col" sortable="value">Humidity</th>
        <th scope="col" sortable="created">LastUp Temp</th>
        <th scope="col" sortable="created">LastUp Hum</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sensor of sensors">
        <th scope="row">{{ sensor.id }}</th>
        <td>{{ sensor.name }}</td>
        <td>
            <div [class]="commonService.getLostCommunicationClass(sensor.createdTemp)">
                {{ sensor.valueTemp | number:'.1-3' }}&#8451;
            </div>
        </td>
        <td>
            <div [class]="commonService.getLostCommunicationClass(sensor.createdHumidity)">
                {{ sensor.valueHumidity | number:'.1-1' }}%
            </div>
        </td>
        <td>
            <div [class]="commonService.getLostCommunicationClass(sensor.createdTemp)">
                {{ sensor.createdTemp | date:'HH:mm:ss dd.MM.yy' }}
            </div>
        </td>
        <td>
            <div [class]="commonService.getLostCommunicationClass(sensor.createdHumidity)">
                <ng-container *ngIf="sensor.createdHumidity; else notAvailable">
                    {{ sensor.createdHumidity | date:'HH:mm:ss dd.MM.yy' }}
                </ng-container>
                <!-- Fallback content -->
                <ng-template #notAvailable>NaN</ng-template>
            </div>
        </td>
    </tr>
    </tbody>
</table>