<div *ngIf="relay">
    <h2>{{relay.name | uppercase}}</h2>
    
    <ul class="list-group">
        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            ID
            <span class="badge badge-primary alert-danger badge-pill">{{relay.id}}</span>
        </li>
        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            Active
            <span class="badge  list-group-item- alert-danger badge-pill">{{relay.active}}</span>
        </li>
        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            Set new value
            <input  type="checkbox" [checked]="relay.active" (change)="onChange()">
        </li>
        <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            LastUpdate
            <span class="badge  list-group-item- alert-danger badge-pill">{{relay.lastUpdate | date:'HH:mm:ss dd.MM.yyyy'}}</span>
        </li>
        <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
            Type
            <span class="badge list-group-item-info badge-warning badge-pill">{{relay.type}}</span>
        </li>
    </ul>
    <br/>
    <button type="button" class="btn btn-info" (click)="goBack()">Back</button>
</div>